<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" verbose="1" parallel="none" thread-count="3" >
    <test name="CAPSTONE PROJECT 4">
        <classes>
            <class name="runner.TestRunner" />
        </classes>
    </test>
</suite>